@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=El+Messiri&display=swap');
.nav-link {
    font-size: 20px;
    font-weight: 700;
}
.navbar {
    padding-top: 10px;
    top: 0;
    z-index: 1020;
    width: 100%;
    height: 85px;
    background-color: rgb(209, 100, 12);
    
}

a{
    color: rgb(255, 255, 255) ;
    font-family: 'Crete Round';
    font-weight: 400;
}
a:hover{
    color: #b4afaf;
}

.show{
    background-color: rgba(0,0,0,.3) 
}
.nav-item.pad{
    padding: 20px;
}
@media (max-width: 500px){
    .brand{
font-size: 2rem;
}
}
.bars{
    height: 1.6rem;
    width: 2rem;
    border:2px solid black !important;
    border-radius: .25rem; 
}
.scroll{
background-color:#ffffff !important;
/* color: black !important; */
}
.scroll-a{
    color: rgba(209, 101, 12) !important;
    font-family: 'Crete Round';
    transition: all .3s ease;
}
.scroll-a:hover{
    color: rgba(209, 101, 12, 0.767) !important;

}
.scroll-button{
    background-color:white !important;
    border:2px solid white !important;
}