@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=El+Messiri&display=swap');
.col-md-6{
    margin: auto;
}
.box{
    margin: auto 0 ;
  
}
.content{
    margin:2rem;
    text-align: center !important;
    
}
    
a .btn{
    margin:17.5px 25px;
    background-color: rgb(209, 100, 12);
    border: none;
    outline: none;
    color: white;
    padding: .4rem;
    margin-top: 1.3rem;
    font-size: 1.2rem;
    border-radius: 20px 0px 20px 0;
    transition: ease all .2s;
}

a .btn:hover{
    border-radius: 0 20px 0 20px;
    cursor: pointer;
    color: rgb(71, 71, 71);
    background-color: rgb(179, 217, 170);
    box-shadow: 0 0 1px 2px rgb(209, 100, 12);
}

a .btn:active{
    color: rgb(255, 255, 255);
    background-color: rgb(209, 100, 12);
}

.row{
    width: 100%;
}
.second{
    background-color: white;
width: 100%;
/* padding:  4rem ; */
margin-top: 5%;
}
.front-image{
    margin: 1rem;
    width: 100%;
}
.margin{
    align-items: center;
  
}
.cyan-text{
    color: #3ab9e9 !important;
    /* fallback for old browsers */
    
}
.icon-text h2{
    font-weight: 900;
    
    
}
hr{
    margin: 5% 5% 0 5%;
    width: 100%;
    background-color: rgb(117, 114, 114);
    border-radius: 2px;
    color: #eee;
    height: 3px; 
}
.third{
    width: 80%;
    margin: 4rem auto 0 auto;
}
.d-flex{
    padding: 2%;
}
.contact-content{
    padding-left: 3%;
}
.fa-3x{
    width:3rem;
}


.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10rem;
    background-color: rgb(243, 240, 240);
    padding-bottom: 4rem;
    
}

.wrapper h1{
    text-align: center;
    font-family: 'Crete Round';
    margin-bottom: 3rem;
   
}

.services{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8rem;
    margin-top: 2rem;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    padding: 10px;
    transition: .3s all ease;
    
}

.card img{
    width: 5rem;
    position: absolute;
    top: -50px;
   
}

.second .wrapper .services .card h2{
    font-family: 'Crete Round'!important;
    margin-bottom: .7rem;
    margin-top: 2rem;
}

.card p{
    font-family: 'El Messiri';
    line-height: 1.7rem;
    font-size: 1.1rem;
}

.card:hover{
    box-shadow: 0 0 6px 6px rgb(126, 125, 125);
    transform: scale(1.02);
    cursor: default;
}

/* @media (max-width:641px){
    .services{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .wrapper{
        padding: 0 8rem;
    }
    .card img{
        width: 20%;
    }
    div.card{
        margin-right: 0 60px;
    }
} */
@media (max-width:1024px) {
    .services{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .wrapper{
        padding: 0 3rem;
    }
    .card img{
        width: 70px;
    }
    div.card{
        margin-right: 0 60px;
    }
}
